# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ESP-IDF build artifacts
build/
spiffs/
sdkconfig.old
*.bin
*.elf
*.map

# React build artifacts and dependencies
react-app/build/
react-app/node_modules/
react-app/package-lock.json
